In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("zipcode_group_1.csv")

In [3]:
df.drop(['Start_Time', 'End_Time', 'Zipcode'], axis=1, inplace=True)

df['Severity'] = df['Severity'].astype('category')
df['month'] = df['month'].astype('category')
df['year'] = df['year'].astype('category')
df['day_of_week'] = df['day_of_week'].astype('category')
df['Sunrise_Sunset'] = df['Sunrise_Sunset'].astype('category')

df

,Severity,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Sunrise_Sunset,Day_Night,duration_minutes,month,year,day_of_week,zipcode_population
0,4,0.010,46.0,41.9,89.0,30.01,3.0,8.1,0.01,Day,1,192.183333,11,2016,3,26004.0
1,3,0.010,46.0,41.9,100.0,29.97,6.0,8.1,0.07,Day,1,74.733333,11,2016,3,54057.0
2,2,0.010,45.0,40.6,97.0,29.98,7.0,8.1,0.02,Night,0,71.216667,11,2016,3,35612.0
3,2,0.130,46.0,42.5,96.0,29.97,8.0,6.9,0.09,Night,0,80.500000,11,2016,3,14681.0
4,2,0.010,46.0,42.5,96.0,29.97,8.0,6.9,0.09,Night,0,74.633333,11,2016,3,30817.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487321,2,0.000,75.0,75.0,51.0,29.97,10.0,10.0,0.00,Day,1,27.566667,8,2019,5,102618.0
487322,2,0.000,75.0,75.0,50.0,29.53,10.0,7.0,0.00,Day,1,27.916667,8,2019,5,10209.0
487323,2,0.075,73.0,73.0,64.0,29.83,10.0,8.0,0.00,Day,1,25.950000,8,2019,5,33976.0
487324,2,1.627,75.0,75.0,57.0,29.97,10.0,6.0,0.00,Day,1,28.950000,8,2019,5,42211.0
487325,2,0.698,75.0,75.0,51.0,29.96,10.0,8.0,0.00,Day,1,28.266667,8,2019,5,75212.0

In [4]:
df = pd.get_dummies(df, columns=['Severity', 'month', 'day_of_week', 'Sunrise_Sunset'], drop_first=True)
df

,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Day_Night,duration_minutes,...,month_10,month_11,month_12,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6,day_of_week_7,Sunrise_Sunset_Night
0,0.010,46.0,41.9,89.0,30.01,3.0,8.1,0.01,1,192.183333,...,False,True,False,False,True,False,False,False,False,False
1,0.010,46.0,41.9,100.0,29.97,6.0,8.1,0.07,1,74.733333,...,False,True,False,False,True,False,False,False,False,False
2,0.010,45.0,40.6,97.0,29.98,7.0,8.1,0.02,0,71.216667,...,False,True,False,False,True,False,False,False,False,True
3,0.130,46.0,42.5,96.0,29.97,8.0,6.9,0.09,0,80.500000,...,False,True,False,False,True,False,False,False,False,True
4,0.010,46.0,42.5,96.0,29.97,8.0,6.9,0.09,0,74.633333,...,False,True,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487321,0.000,75.0,75.0,51.0,29.97,10.0,10.0,0.00,1,27.566667,...,False,False,False,False,False,False,True,False,False,False
487322,0.000,75.0,75.0,50.0,29.53,10.0,7.0,0.00,1,27.916667,...,False,False,False,False,False,False,True,False,False,False
487323,0.075,73.0,73.0,64.0,29.83,10.0,8.0,0.00,1,25.950000,...,False,False,False,False,False,False,True,False,False,False
487324,1.627,75.0,75.0,57.0,29.97,10.0,6.0,0.00,1,28.950000,...,False,False,False,False,False,False,True,False,False,False
487325,0.698,75.0,75.0,51.0,29.96,10.0,8.0,0.00,1,28.266667,...,False,False,False,False,False,False,True,False,False,False

In [5]:
len(df)

487326

In [6]:
df.dropna(inplace=True)

In [7]:
len(df)

487255

In [8]:
X = df.drop(columns=['duration_minutes']).astype('float32')
y = df['duration_minutes'].astype('float32')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:

# Train the SVM regression model
svm_regressor = SVR(kernel='linear')  # Using a linear kernel for simplicity
svm_regressor.fit(X_train, y_train)

In [ ]:
# Predict and evaluate on the test set
y_pred = svm_regressor.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

mse